*{
    margin: 0;
    padding: 0;
}
input.btn.btn-primary {
    width: 70px;
    background: none;
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
    font-size: 20px;
    font-weight: 600;
}

button#lowqty, #plusqty {
    font-size: 30px;
    font-weight: 700;
    padding: 0px 18px;
}